.skills-list {
  list-style-type: none;
  display: flex;
}
.skills-unorder {
  display: flex;
  flex-wrap: wrap;
}
.skill-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-right: 35px;
  margin-bottom: 25px;
}
.skill-image {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.image-name {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .skill-image {
    width: 80px;
    height: 80px;
  }
  .image-name {
    font-size: 20px;
  }
}
